.post {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
}
.add-icon-parent {
  display: flex;
}
.search {
  display: flex;
}
.search-icon {
  color: #fff;
  background-color: black;
  margin-right: 10px;
}

.add_icon {
  font-size: 30px;
  color: rgb(12, 167, 12);
  margin-left: auto;
  order: 2;
  transform: scale(1.8);
  margin-bottom: 20px;
}
.add_icon:hover {
  cursor: pointer;
}
.icon {
  padding-right: 20px;
}
.icon:hover {
  cursor: pointer;
}
.icon-delete {
  color: red;
}
.ids {
  display: flex;
}
.userId {
  margin-right: 20px;
}
